/* You can add global styles to this file, and also import other style files */
body {
  background: url("src/assets/43001480-gruen-.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
